Final Deliverables/ADMIN PAGE - PNT2022TMID05381.json
[{"id":"2639cc9d05df294e","type":"tab","label":"AdminDashboard","disabled":false,"info":"","env":[]},{"id":"bfc163596ba14776","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":3,"width":5,"height":1,"passthru":false,"label":"Registration (Co Admin)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_Registration\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1430,"y":60,"wires":[["3dc3afe1d1456018"]]},{"id":"c7c2df06c8f6a701","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":1,"width":3,"height":1,"passthru":false,"label":"DashBoard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\"],\"show\":[\"admin_Control\",\"admin_Map\",\"admin_FillPercent\",\"admin_Table\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1390,"y":120,"wires":[["3dc3afe1d1456018"]]},{"id":"3dc3afe1d1456018","type":"ui_ui_control","z":"2639cc9d05df294e","name":"","events":"all","x":1860,"y":260,"wires":[[]]},{"id":"23772494b35749e7","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":8,"width":31,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"White","bgcolor":"Black","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1370,"y":420,"wires":[["3dc3afe1d1456018"]]},{"id":"1521a5abd9d711db","type":"ui_form","z":"2639cc9d05df294e","name":"Registration Form","label":"For Co Admin","group":"c1a28d6661fd5f77","order":1,"width":8,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phonenumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","phonenumber":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":250,"y":220,"wires":[["1c9d9fe1a73ded4e","70e915dc7317ca77"]]},{"id":"1c9d9fe1a73ded4e","type":"function","z":"2639cc9d05df294e","name":"data in","func":"msg.payload = {\n    _id:msg.payload.email,\n    name:msg.payload.name,\n    phonenumber:msg.payload.phonenumber,\n    email:msg.payload.email,\n    password:msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":120,"wires":[["9d22d9dac437477b"]]},{"id":"70e915dc7317ca77","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Hey! \"+msg.payload.name+\". Registration Successfull.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["c8cda3b8ca02dfa6"]]},{"id":"9d22d9dac437477b","type":"cloudant out","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":720,"y":120,"wires":[]},{"id":"c8cda3b8ca02dfa6","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":750,"y":300,"wires":[]},{"id":"d8081c71674eb1ea","type":"cloudant out","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":false,"operation":"delete","x":1140,"y":480,"wires":[]},{"id":"510fd769cc044193","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":400,"y":600,"wires":[["8c517617969af5c5"]]},{"id":"c0c3e8b2de868224","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = {\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":480,"wires":[["d8081c71674eb1ea"]]},{"id":"7e557486263bb607","type":"inject","z":"2639cc9d05df294e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":920,"wires":[["615875b7069ce8f2"]]},{"id":"615875b7069ce8f2","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":400,"y":920,"wires":[["314b1b3e70c71356"]]},{"id":"163520feff4946f4","type":"ui_table","z":"2639cc9d05df294e","group":"31c22dfd8b0d989e","name":"","order":1,"width":12,"height":3,"columns":[{"field":"name","title":"Name","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phonenumber","title":"Phone Number","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":810,"y":920,"wires":[]},{"id":"314b1b3e70c71356","type":"function","z":"2639cc9d05df294e","name":"data in","func":"var arr=[]\nfor (var i = 0; i < msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        name: msg.payload[i].name,\n        phonenumber: msg.payload[i].phonenumber,\n        email: msg.payload[i].email\n        \n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":920,"wires":[["163520feff4946f4"]]},{"id":"80ca1d593f9ed2ab","type":"inject","z":"2639cc9d05df294e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"111719106030@smartinternz.com\"}","payloadType":"json","x":1630,"y":700,"wires":[[]]},{"id":"630f2dd552f28d2a","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":4,"width":6,"height":1,"passthru":false,"label":"Remove Account (Co Admin)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_Delete\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1440,"y":300,"wires":[["3dc3afe1d1456018"]]},{"id":"d84c68e57c2f2174","type":"ui_form","z":"2639cc9d05df294e","name":"Account Deletion","label":"Enter the email id to be removed","group":"874df5d52570d74a","order":1,"width":10,"height":1,"options":[{"label":"Email","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":210,"y":600,"wires":[["510fd769cc044193"]]},{"id":"6c2ca3e3c31cd268","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":5,"width":5,"height":1,"passthru":false,"label":"Accounts (Co Admin)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_Accounts\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1420,"y":360,"wires":[["3dc3afe1d1456018"]]},{"id":"8c517617969af5c5","type":"function","z":"2639cc9d05df294e","name":"cheching the element","func":"if(msg.payload!=null){\n    msg.topic = \"Found\"\n}\nelse{\n    msg.topic = \"Invalid Email\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":600,"wires":[["87a07e5638df7613"]]},{"id":"87a07e5638df7613","type":"switch","z":"2639cc9d05df294e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Found","vt":"str"},{"t":"eq","v":"Invalid Email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":600,"wires":[["c0c3e8b2de868224","91c443f558fc7630"],["f64a5249f3721757"]]},{"id":"13f89fdc3b6b7fe9","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1190,"y":560,"wires":[]},{"id":"91c443f558fc7630","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Successfully Removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":560,"wires":[["13f89fdc3b6b7fe9"]]},{"id":"2fd9c07d0bcc54de","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1130,"y":680,"wires":[]},{"id":"f64a5249f3721757","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Enter a valid Email Id to be removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":680,"wires":[["2fd9c07d0bcc54de"]]},{"id":"f9f430e50439e6f2","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":2,"width":5,"height":1,"passthru":false,"label":"Accounts (Truck Driver)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_TruckAccount\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1430,"y":180,"wires":[["3dc3afe1d1456018"]]},{"id":"9cb5105c034f8fed","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":6,"width":6,"height":1,"passthru":false,"label":"Remove Account(Truck Driver )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_TruckDelete\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1450,"y":240,"wires":[["3dc3afe1d1456018"]]},{"id":"117ce43d6fb4050d","type":"cloudant out","z":"2639cc9d05df294e","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":false,"operation":"delete","x":1250,"y":1240,"wires":[]},{"id":"8e6da647391f5ade","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":430,"y":1300,"wires":[["b28e41f6bad2196e"]]},{"id":"45ca2546f9bf2143","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = {\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1240,"wires":[["117ce43d6fb4050d"]]},{"id":"41f542b7e02b0b27","type":"inject","z":"2639cc9d05df294e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":250,"y":1680,"wires":[["e50d6e21093628b6"]]},{"id":"e50d6e21093628b6","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":470,"y":1680,"wires":[["5a096a66c34f1551"]]},{"id":"f354d304e9f4c435","type":"ui_table","z":"2639cc9d05df294e","group":"7c94896484443721","name":"","order":1,"width":15,"height":3,"columns":[{"field":"name","title":"Name","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phonenumber","title":"Phone Number","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"Location","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":1680,"wires":[]},{"id":"5a096a66c34f1551","type":"function","z":"2639cc9d05df294e","name":"data in","func":"var arr=[]\nfor (var i = 0; i < msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        name: msg.payload[i].name,\n        phonenumber: msg.payload[i].phonenumber,\n        email: msg.payload[i].email,\n        location:msg.payload[i].loc\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1680,"wires":[["f354d304e9f4c435"]]},{"id":"601c3c96dcbefe7e","type":"ui_form","z":"2639cc9d05df294e","name":"Account Deletion","label":"Enter the email id to be removed","group":"e83fb1a8534b4dcc","order":1,"width":9,"height":1,"options":[{"label":"Email","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":230,"y":1300,"wires":[["8e6da647391f5ade"]]},{"id":"b28e41f6bad2196e","type":"function","z":"2639cc9d05df294e","name":"cheching the element","func":"if(msg.payload!=null){\n    msg.topic = \"found\"\n}\nelse{\n    msg.topic = \"Invalid Email\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1300,"wires":[["3bfa0a3eae497f0c"]]},{"id":"3bfa0a3eae497f0c","type":"switch","z":"2639cc9d05df294e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"found","vt":"str"},{"t":"eq","v":"Invalid Email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1300,"wires":[["45ca2546f9bf2143","404cab6d7587c163"],["ebf4c2c235d50f53"]]},{"id":"314fd16bf34c9f90","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1250,"y":1180,"wires":[]},{"id":"404cab6d7587c163","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Successfully Removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1180,"wires":[["314fd16bf34c9f90"]]},{"id":"376a995b1616c724","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1230,"y":1360,"wires":[]},{"id":"ebf4c2c235d50f53","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Enter a valid Email Id to be removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1360,"wires":[["376a995b1616c724"]]},{"id":"3a33a869f39470e0","type":"ui_worldmap","z":"2639cc9d05df294e","group":"bc9d6db86cfb566b","order":1,"width":20,"height":20,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1660,"y":540,"wires":[]},{"id":"2c0dde72c0d5b893","type":"ui_group","name":"Control","tab":"5c85c2b6e9dda59f","order":1,"disp":true,"width":31,"collapse":false,"className":""},{"id":"c1a28d6661fd5f77","type":"ui_group","name":"Registration","tab":"5c85c2b6e9dda59f","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"31c22dfd8b0d989e","type":"ui_group","name":"Accounts","tab":"5c85c2b6e9dda59f","order":5,"disp":true,"width":12,"collapse":false,"className":""},{"id":"874df5d52570d74a","type":"ui_group","name":"Delete","tab":"5c85c2b6e9dda59f","order":4,"disp":true,"width":10,"collapse":false,"className":""},{"id":"7c94896484443721","type":"ui_group","name":"TruckAccount","tab":"5c85c2b6e9dda59f","order":7,"disp":true,"width":15,"collapse":false,"className":""},{"id":"e83fb1a8534b4dcc","type":"ui_group","name":"TruckDelete","tab":"5c85c2b6e9dda59f","order":6,"disp":true,"width":9,"collapse":false,"className":""},{"id":"bc9d6db86cfb566b","type":"ui_group","name":"Map","tab":"5c85c2b6e9dda59f","order":3,"disp":true,"width":20,"collapse":false,"className":""},{"id":"5c85c2b6e9dda59f","type":"ui_tab","name":"admin","icon":"dashboard","order":2,"disabled":false,"hidden":false}]