Final Deliverables/COADMIN PAGE - PNT2022TMID05381.json
[{"id":"939206b0015175e2","type":"tab","label":"CoadminDashBoard","disabled":false,"info":"","env":[]},{"id":"b3b22dd6df0c1859","type":"ui_form","z":"939206b0015175e2","name":"Registration Form","label":"FOR TRUCK DRIVERS","group":"2a8d09e379ee8509","order":1,"width":8,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phonenumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"Location","value":"loc","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","phonenumber":"","password":"","loc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":190,"y":180,"wires":[["c501dae15027a65b","247c5bf2ae7f05d1"]]},{"id":"ff2ce71795b4e83b","type":"cloudant out","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":650,"y":100,"wires":[]},{"id":"c501dae15027a65b","type":"function","z":"939206b0015175e2","name":"data in","func":"msg.payload = {\n    _id:msg.payload.email,\n    name:msg.payload.name,\n    phonenumber:msg.payload.phonenumber,\n    email:msg.payload.email,\n    password:msg.payload.password,\n    loc:msg.payload.loc\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":100,"wires":[["ff2ce71795b4e83b"]]},{"id":"f6901127ca031f55","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":1,"width":5,"height":1,"passthru":false,"label":"Registration ( TruckDriver )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Map\",\"coadmin_Delete\",\"coadmin_Accounts\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\",\"coadmin_Registration\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1440,"y":60,"wires":[["0a009938bb7d78de"]]},{"id":"47e45eb3eb603cc1","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":2,"width":3,"height":1,"passthru":false,"label":"DashBoard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Delete\",\"coadmin_Accounts\"],\"show\":[\"coadmin_Control\",\"coadmin_Map\",\"coadmin_FillPercent\",\"coadmin_Table\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1470,"y":120,"wires":[["0a009938bb7d78de"]]},{"id":"0a009938bb7d78de","type":"ui_ui_control","z":"939206b0015175e2","name":"","events":"all","x":1760,"y":140,"wires":[[]]},{"id":"a685dc12a81e33cd","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":5,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"White","bgcolor":"Black","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Map\",\"coadmin_Delete\",\"coadmin_Accounts\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1490,"y":180,"wires":[["0a009938bb7d78de"]]},{"id":"c27356d307afa50a","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":4,"width":6,"height":1,"passthru":false,"label":"Accounts (Truck Driver)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Map\",\"coadmin_Delete\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\",\"coadmin_Accounts\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1510,"y":240,"wires":[["0a009938bb7d78de"]]},{"id":"89d81eab9749119e","type":"cloudant out","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":false,"operation":"delete","x":1170,"y":600,"wires":[]},{"id":"1fd0d9b7936c2d77","type":"cloudant in","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":350,"y":660,"wires":[["f878097efe24e4e6"]]},{"id":"912e3a847d326858","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = {\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":600,"wires":[["89d81eab9749119e"]]},{"id":"540939e48fb18811","type":"inject","z":"939206b0015175e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":1040,"wires":[["5522bc173910f297"]]},{"id":"5522bc173910f297","type":"cloudant in","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":390,"y":1040,"wires":[["85bf117de390ec48"]]},{"id":"4c3c5a252ee86f3a","type":"ui_table","z":"939206b0015175e2","group":"645b81f3e9362a44","name":"","order":1,"width":15,"height":3,"columns":[{"field":"name","title":"Name","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phonenumber","title":"Phone Number","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"Location","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":870,"y":1040,"wires":[]},{"id":"85bf117de390ec48","type":"function","z":"939206b0015175e2","name":"data in","func":"var arr=[]\nfor (var i = 0; i < msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        name: msg.payload[i].name,\n        phonenumber: msg.payload[i].phonenumber,\n        email: msg.payload[i].email,\n        location:msg.payload[i].loc\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1040,"wires":[["4c3c5a252ee86f3a"]]},{"id":"c1527474e8d62775","type":"ui_form","z":"939206b0015175e2","name":"Account Deletion","label":"Enter the email id to be removed","group":"9bf367ba37efd4bb","order":1,"width":10,"height":1,"options":[{"label":"Email","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":660,"wires":[["1fd0d9b7936c2d77"]]},{"id":"f878097efe24e4e6","type":"function","z":"939206b0015175e2","name":"cheching the element","func":"if(msg.payload!=null){\n    msg.topic = \"found\"\n}\nelse{\n    msg.topic = \"Invalid Email\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["2be345ad93c6645e"]]},{"id":"2be345ad93c6645e","type":"switch","z":"939206b0015175e2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"found","vt":"str"},{"t":"eq","v":"Invalid Email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":660,"wires":[["912e3a847d326858","a07311248f6a42e0"],["05fcc8d4b01ef4e7"]]},{"id":"959fdfe0e52d66d9","type":"ui_toast","z":"939206b0015175e2","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1170,"y":540,"wires":[]},{"id":"a07311248f6a42e0","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = \"Successfully Removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":540,"wires":[["959fdfe0e52d66d9"]]},{"id":"8ee7713716e51da3","type":"ui_toast","z":"939206b0015175e2","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":650,"y":240,"wires":[]},{"id":"247c5bf2ae7f05d1","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = \"Hey! \"+msg.payload.name+\". Registration Successfull.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["8ee7713716e51da3"]]},{"id":"2d1b357c7b6d7aa5","type":"ui_toast","z":"939206b0015175e2","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1150,"y":720,"wires":[]},{"id":"05fcc8d4b01ef4e7","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = \"Enter a valid Email Id to be removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":720,"wires":[["2d1b357c7b6d7aa5"]]},{"id":"f8388da54739c0a6","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":3,"width":6,"height":1,"passthru":false,"label":"Remove Account(Truck Driver )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Map\",\"coadmin_Accounts\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\",\"coadmin_Delete\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1470,"y":320,"wires":[["0a009938bb7d78de"]]},{"id":"51e6da63ad8ce97d","type":"ui_worldmap","z":"939206b0015175e2","group":"a0eabdb6ebaa9c19","order":1,"width":20,"height":20,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1680,"y":680,"wires":[]},{"id":"32da4668ee781c48","type":"inject","z":"939206b0015175e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["d7f78911cf40faed"]]},{"id":"d7f78911cf40faed","type":"function","z":"939206b0015175e2","name":"","func":"var p1 = global.get(\"fill1\")\nmsg.payload = {\n    \"point1\":p1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["bb85b3c55c1d15b1"]]},{"id":"bb85b3c55c1d15b1","type":"ui_gauge","z":"939206b0015175e2","name":"","group":"153bdb65e81960fa","order":1,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.point1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":380,"wires":[]},{"id":"46d295e62491c727","type":"inject","z":"939206b0015175e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["1e4c1c9145b6764a"]]},{"id":"1e4c1c9145b6764a","type":"function","z":"939206b0015175e2","name":"","func":"var p1 = global.get(\"fill2\")\nmsg.payload = {\n    \"point2\":p1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["a3344aa440151157"]]},{"id":"a3344aa440151157","type":"ui_gauge","z":"939206b0015175e2","name":"","group":"153bdb65e81960fa","order":2,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 2)","label":"units","format":"{{msg.payload.point2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":540,"y":500,"wires":[]},{"id":"2a8d09e379ee8509","type":"ui_group","name":"Registration","tab":"7e3a82242a91412a","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"34dd6024c139314a","type":"ui_group","name":"Control","tab":"7e3a82242a91412a","order":1,"disp":true,"width":20,"collapse":false,"className":""},{"id":"645b81f3e9362a44","type":"ui_group","name":"Accounts","tab":"7e3a82242a91412a","order":4,"disp":true,"width":"15","collapse":false,"className":""},{"id":"9bf367ba37efd4bb","type":"ui_group","name":"Delete","tab":"7e3a82242a91412a","order":5,"disp":true,"width":10,"collapse":false,"className":""},{"id":"a0eabdb6ebaa9c19","type":"ui_group","name":"Map","tab":"7e3a82242a91412a","order":3,"disp":false,"width":20,"collapse":false,"className":""},{"id":"153bdb65e81960fa","type":"ui_group","name":"FillPercent","tab":"7e3a82242a91412a","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7e3a82242a91412a","type":"ui_tab","name":"coadmin","icon":"dashboard","order":3,"disabled":false,"hidden":false}]