Final Deliverables/DASHBOARD-MAPS - PNT2022TMID05381.json
[{"id":"c7781db639249c15","type":"tab","label":"Maps","disabled":false,"info":"","env":[]},{"id":"080977c56e499257","type":"ibmiot in","z":"c7781db639249c15","authentication":"apiKey","apiKey":"082dfd3cdf02914d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT 1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":540,"wires":[["152f737098da9511","b3624ff64a82c587","6e5ca5bc1ddd779e","9f99445a64cf1704"]]},{"id":"04f517c4bb70fcb1","type":"worldmap","z":"c7781db639249c15","name":"","lat":"13.16","lon":"80.24","zoom":"11","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1880,"y":660,"wires":[]},{"id":"76380edd92799135","type":"ibmiot in","z":"c7781db639249c15","authentication":"apiKey","apiKey":"082dfd3cdf02914d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT 2","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":800,"wires":[["bfde80d73b183dde","e20bb2bba000a86e","49788bd24b4c1ed1","19b99a385571904d"]]},{"id":"ed8c1e32.c79e28","type":"debug","z":"c7781db639249c15","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":540,"wires":[]},{"id":"b67fdfde.581e3","type":"join","z":"c7781db639249c15","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":660,"wires":[["ed8c1e32.c79e28","04f517c4bb70fcb1"]]},{"id":"479fdca0.35c75c","type":"batch","z":"c7781db639249c15","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":1490,"y":660,"wires":[["b67fdfde.581e3"]]},{"id":"90956eca15020f3c","type":"function","z":"c7781db639249c15","name":"","func":"\ntableData = flow.get(\"savedData\") || [];\ntableData.unshift({\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    check:msg.payload.Check,\n});\nif(tableData.length > 1) tableData.pop();\nmsg.payload = tableData;\nflow.set(\"savedData\",tableData);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1100,"wires":[[]]},{"id":"16ae625bf2fe484a","type":"inject","z":"c7781db639249c15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":1100,"wires":[["6f10d769c11066c2"]]},{"id":"6f10d769c11066c2","type":"change","z":"c7781db639249c15","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1100,"wires":[[]]},{"id":"152f737098da9511","type":"ui_gauge","z":"c7781db639249c15","name":"","group":"79340aa1a83ca384","order":1,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.FillPercent}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":220,"y":640,"wires":[]},{"id":"b3624ff64a82c587","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"Iot\"\nmsg.payload = {\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    icon:msg.payload.Icon,\n    iconColor:msg.payload.Color\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":560,"wires":[["ecc41a4b94af72c0"]]},{"id":"e20bb2bba000a86e","type":"function","z":"c7781db639249c15","name":"set payload and headers","func":"msg.url=\"https://trueway-geocoding.p.rapidapi.com/ReverseGeocode?location=\"+msg.payload.Latitude+\"%2C\"+msg.payload.Longitude+\"&language=en\"\nmsg.headers = {};\nmsg.headers['X-RapidAPI-Key'] = '8364bdeae6msh1bcea4e19edfc0dp153d65jsn49b4af1a2e2c';\nmsg.headers['X-RapidAPI-Host'] = 'trueway-geocoding.p.rapidapi.com';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":980,"wires":[["2136de609a1a78c8"]]},{"id":"2136de609a1a78c8","type":"http request","z":"c7781db639249c15","name":"Location","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":980,"wires":[["7a6cf7ee02ef0b5d"]]},{"id":"041fe717d7358d0e","type":"function","z":"c7781db639249c15","name":"change","func":"msg.payload = {\n    name:msg.payload.Iot.name,\n    Garbagefillpercent:msg.payload.Iot.garbagefillpercent,\n    lat:msg.payload.Iot.lat,\n    lon:msg.payload.Iot.lon,\n    icon:msg.payload.Iot.icon,\n    iconColor:msg.payload.Iot.iconColor,\n    address:msg.payload.add.address,\n    sublocality:msg.payload.add.sublocality,\n    locality:msg.payload.add.locality,\n    area:msg.payload.add.area,\n    postalcode:msg.payload.add.postalcode,\n    region:msg.payload.add.region\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":800,"wires":[["479fdca0.35c75c","649ad2bb23c60e94"]]},{"id":"90a9466055662040","type":"join","z":"c7781db639249c15","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":800,"wires":[["041fe717d7358d0e"]]},{"id":"7a6cf7ee02ef0b5d","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"add\"\nmsg.payload={\n    address:msg.payload.results[0].address,\n    sublocality:msg.payload.results[0].sublocality,\n    locality:msg.payload.results[0].locality,\n    area:msg.payload.results[0].area,\n    postalcode:msg.payload.results[0].postal_code,\n    region:msg.payload.results[0].region\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":980,"wires":[["d066c68e84023aa9"]]},{"id":"bfde80d73b183dde","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"Iot\"\nmsg.payload = {\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    icon:msg.payload.Icon,\n    iconColor:msg.payload.Color\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":800,"wires":[["d066c68e84023aa9"]]},{"id":"d066c68e84023aa9","type":"batch","z":"c7781db639249c15","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":730,"y":800,"wires":[["90a9466055662040"]]},{"id":"6e5ca5bc1ddd779e","type":"function","z":"c7781db639249c15","name":"","func":"global.set(\"fill1\",msg.payload.FillPercent);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":660,"wires":[[]]},{"id":"49788bd24b4c1ed1","type":"function","z":"c7781db639249c15","name":"","func":"global.set(\"fill2\",msg.payload.FillPercent);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":700,"wires":[[]]},{"id":"19b99a385571904d","type":"ui_gauge","z":"c7781db639249c15","name":"","group":"79340aa1a83ca384","order":2,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 2)","label":"units","format":"{{msg.payload.FillPercent}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":200,"y":720,"wires":[]},{"id":"8785f630e1a89389","type":"function","z":"c7781db639249c15","name":"change","func":"msg.payload = {\n    name:msg.payload.Iot.name,\n    Garbagefillpercent:msg.payload.Iot.garbagefillpercent,\n    lat:msg.payload.Iot.lat,\n    lon:msg.payload.Iot.lon,\n    icon:msg.payload.Iot.icon,\n    iconColor:msg.payload.Iot.iconColor,\n    address:msg.payload.add.address,\n    sublocality:msg.payload.add.sublocality,\n    locality:msg.payload.add.locality,\n    area:msg.payload.add.area,\n    postalcode:msg.payload.add.postalcode,\n    region:msg.payload.add.region\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":520,"wires":[["479fdca0.35c75c","7d705a36b1136d56","353f054e2e674de2"]]},{"id":"f3e688ec9963b23f","type":"join","z":"c7781db639249c15","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":520,"wires":[["8785f630e1a89389"]]},{"id":"ecc41a4b94af72c0","type":"batch","z":"c7781db639249c15","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":690,"y":520,"wires":[["f3e688ec9963b23f"]]},{"id":"9f99445a64cf1704","type":"function","z":"c7781db639249c15","name":"set payload and headers","func":"msg.url=\"https://trueway-geocoding.p.rapidapi.com/ReverseGeocode?location=\"+msg.payload.Latitude+\"%2C\"+msg.payload.Longitude+\"&language=en\"\nmsg.headers = {};\nmsg.headers['X-RapidAPI-Key'] = '8364bdeae6msh1bcea4e19edfc0dp153d65jsn49b4af1a2e2c';\nmsg.headers['X-RapidAPI-Host'] = 'trueway-geocoding.p.rapidapi.com';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":420,"wires":[["3b897ef84fab9ef2"]]},{"id":"3b897ef84fab9ef2","type":"http request","z":"c7781db639249c15","name":"Location","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":420,"wires":[["c38fb26cf2ee30ae"]]},{"id":"c38fb26cf2ee30ae","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"add\"\nmsg.payload={\n    address:msg.payload.results[0].address,\n    sublocality:msg.payload.results[0].sublocality,\n    locality:msg.payload.results[0].locality,\n    area:msg.payload.results[0].area,\n    postalcode:msg.payload.results[0].postal_code,\n    region:msg.payload.results[0].region\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":420,"wires":[["ecc41a4b94af72c0"]]},{"id":"e1144bd0553aad86","type":"switch","z":"c7781db639249c15","name":"","property":"payload.Garbagefillpercent","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":300,"wires":[["8ae9c521feeb486a","5f0c3d9a23eb0c0e"]]},{"id":"d79dde76183de445","type":"cloudant out","z":"c7781db639249c15","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":1730,"y":300,"wires":[]},{"id":"8ae9c521feeb486a","type":"function","z":"c7781db639249c15","name":"data in","func":"var d = new Date();\nvar utc = d.getTime() +(d.getTimezoneOffset()* 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nmsg.payload = {\n    Name:msg.payload.name,\n    Time:new Date().toLocaleString(),\n    time:time,\n    date:date,\n    Locality:msg.payload.locality,\n    Address:msg.payload.address\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":300,"wires":[["d79dde76183de445","5a4928940d8629dc"]]},{"id":"61ee1872bef92a98","type":"e-mail","z":"c7781db639249c15","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arunk2k1@gmail.com","dname":"","x":1680,"y":420,"wires":[]},{"id":"5a4928940d8629dc","type":"function","z":"c7781db639249c15","name":"","func":"message=\"Bin \"+msg.payload.Name+\" is full at the location :\"+msg.payload.Address+\" Time: \"+msg.payload.Time\nmsg.topic=\"Bin is FULL\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":420,"wires":[["61ee1872bef92a98"]]},{"id":"7d705a36b1136d56","type":"rbe","z":"c7781db639249c15","name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","septopics":true,"property":"payload.Garbagefillpercent","topi":"topic","x":1130,"y":300,"wires":[["e1144bd0553aad86"]]},{"id":"570dbccd16853f30","type":"switch","z":"c7781db639249c15","name":"","property":"payload.Garbagefillpercent","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":940,"wires":[["2ff4247f51fff617","9bf4f16ed6c0247d"]]},{"id":"9a98c90e1f099b2e","type":"cloudant out","z":"c7781db639249c15","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":1810,"y":940,"wires":[]},{"id":"2ff4247f51fff617","type":"function","z":"c7781db639249c15","name":"data in","func":"var d = new Date();\nvar utc = d.getTime() +(d.getTimezoneOffset()* 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nmsg.payload = {\n    Name:msg.payload.name,\n    Time:new Date().toLocaleString(),\n    time:time,\n    date:date,\n    Locality:msg.payload.locality,\n    Address:msg.payload.address\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":940,"wires":[["9a98c90e1f099b2e","85854b52c17900c6"]]},{"id":"03fedfa0ed07e390","type":"e-mail","z":"c7781db639249c15","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arunk2k1@gmail.com","dname":"","x":1760,"y":1060,"wires":[]},{"id":"85854b52c17900c6","type":"function","z":"c7781db639249c15","name":"","func":"message=\"Bin \"+msg.payload.Name+\" is full at the location :\"+msg.payload.Address+\" Time: \"+msg.payload.Time\nmsg.topic=\"Bin is FULL\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":1060,"wires":[["03fedfa0ed07e390"]]},{"id":"649ad2bb23c60e94","type":"rbe","z":"c7781db639249c15","name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","septopics":true,"property":"payload.Garbagefillpercent","topi":"topic","x":1210,"y":940,"wires":[["570dbccd16853f30"]]},{"id":"5f0c3d9a23eb0c0e","type":"debug","z":"c7781db639249c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":240,"wires":[]},{"id":"9bf4f16ed6c0247d","type":"debug","z":"c7781db639249c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":1120,"wires":[]},{"id":"353f054e2e674de2","type":"debug","z":"c7781db639249c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":520,"wires":[]},{"id":"082dfd3cdf02914d","type":"ibmiot","name":"SWM","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"79340aa1a83ca384","type":"ui_group","name":"FillPercent","tab":"5c85c2b6e9dda59f","order":8,"disp":true,"width":12,"collapse":false,"className":""},{"id":"5c85c2b6e9dda59f","type":"ui_tab","name":"admin","icon":"dashboard","order":2,"disabled":false,"hidden":false}]