Final Deliverables/FINAL SWM PROJECT FLOW - PNT2022TMID05381.json
[{"id":"896a2122e9516b8c","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"c7781db639249c15","type":"tab","label":"Maps","disabled":false,"info":"","env":[]},{"id":"2639cc9d05df294e","type":"tab","label":"AdminDashboard","disabled":false,"info":"","env":[]},{"id":"939206b0015175e2","type":"tab","label":"CoadminDashBoard","disabled":false,"info":"","env":[]},{"id":"5d8efcbabc077850","type":"tab","label":"TruckDriver Dashboard","disabled":false,"info":"","env":[]},{"id":"2e1d71bd03cf9513","type":"tab","label":"Update and delete bin db","disabled":false,"info":"","env":[]},{"id":"082dfd3cdf02914d","type":"ibmiot","name":"SWM","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a0eabdb6ebaa9c19","type":"ui_group","name":"Map","tab":"7e3a82242a91412a","order":3,"disp":false,"width":20,"collapse":false,"className":""},{"id":"ed49c469.856168","type":"ui_group","name":"Team VVS","tab":"cf40fea6.09165","order":1,"disp":false,"width":16,"collapse":false,"className":""},{"id":"426bc9a6.41db68","type":"ui_group","name":"Login","tab":"cf40fea6.09165","order":4,"disp":true,"width":"6","collapse":false},{"id":"3b55c2c0.f938de","type":"ui_group","name":"group","tab":"cf40fea6.09165","order":2,"disp":false,"width":5,"collapse":false},{"id":"47d581f.86ea78","type":"ui_group","name":"group1","tab":"cf40fea6.09165","order":3,"disp":false,"width":5,"collapse":false},{"id":"cf40fea6.09165","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"65eb6b906cabb5c4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#7886f2","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#7886f2","edited":true},"page-titlebar-backgroundColor":{"value":"#7886f2","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#bec5f9","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#7886f2","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"menu","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e3a82242a91412a","type":"ui_tab","name":"coadmin","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2a8d09e379ee8509","type":"ui_group","name":"Registration","tab":"7e3a82242a91412a","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"af8dd20ce4db8f17","type":"ui_tab","name":"TruckDriver","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"34dd6024c139314a","type":"ui_group","name":"Control","tab":"7e3a82242a91412a","order":1,"disp":true,"width":20,"collapse":false,"className":""},{"id":"5c85c2b6e9dda59f","type":"ui_tab","name":"admin","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2c0dde72c0d5b893","type":"ui_group","name":"Control","tab":"5c85c2b6e9dda59f","order":1,"disp":true,"width":31,"collapse":false,"className":""},{"id":"c1a28d6661fd5f77","type":"ui_group","name":"Registration","tab":"5c85c2b6e9dda59f","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"bc9d6db86cfb566b","type":"ui_group","name":"Map","tab":"5c85c2b6e9dda59f","order":3,"disp":true,"width":20,"collapse":false,"className":""},{"id":"884658218c75443e","type":"ui_group","name":"Control","tab":"af8dd20ce4db8f17","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3aa3fb460a5d60ba","type":"ui_group","name":"Map","tab":"af8dd20ce4db8f17","order":2,"disp":true,"width":20,"collapse":false,"className":""},{"id":"874df5d52570d74a","type":"ui_group","name":"Delete","tab":"5c85c2b6e9dda59f","order":4,"disp":true,"width":10,"collapse":false,"className":""},{"id":"31c22dfd8b0d989e","type":"ui_group","name":"Accounts","tab":"5c85c2b6e9dda59f","order":5,"disp":true,"width":12,"collapse":false,"className":""},{"id":"645b81f3e9362a44","type":"ui_group","name":"Accounts","tab":"7e3a82242a91412a","order":4,"disp":true,"width":"15","collapse":false,"className":""},{"id":"9bf367ba37efd4bb","type":"ui_group","name":"Delete","tab":"7e3a82242a91412a","order":5,"disp":true,"width":10,"collapse":false,"className":""},{"id":"e83fb1a8534b4dcc","type":"ui_group","name":"TruckDelete","tab":"5c85c2b6e9dda59f","order":6,"disp":true,"width":9,"collapse":false,"className":""},{"id":"7c94896484443721","type":"ui_group","name":"TruckAccount","tab":"5c85c2b6e9dda59f","order":7,"disp":true,"width":15,"collapse":false,"className":""},{"id":"79340aa1a83ca384","type":"ui_group","name":"FillPercent","tab":"5c85c2b6e9dda59f","order":8,"disp":true,"width":12,"collapse":false,"className":""},{"id":"153bdb65e81960fa","type":"ui_group","name":"FillPercent","tab":"7e3a82242a91412a","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"31bc887e057dd19e","type":"ui_group","name":"FillPercent","tab":"af8dd20ce4db8f17","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f530cf550d1ddd47","type":"ui_group","name":"Table","tab":"5c85c2b6e9dda59f","order":9,"disp":true,"width":25,"collapse":false,"className":""},{"id":"898bd0554aacc451","type":"ui_group","name":"Table","tab":"7e3a82242a91412a","order":7,"disp":true,"width":25,"collapse":false,"className":""},{"id":"2a745e6b.07df92","type":"ui_group","name":"Default","tab":"e63bce2d.68925","order":5,"disp":true,"width":"6","collapse":true},{"id":"e63bce2d.68925","type":"ui_tab","name":"Denon","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a946d6e03886c064","type":"ui_text","z":"896a2122e9516b8c","group":"ed49c469.856168","order":1,"width":16,"height":4,"name":"","label":"IBM Nalaiya Thiran","format":"<H1><font color =amber>{{msg.payload}}</font></H1>","layout":"col-center","className":"","x":1010,"y":40,"wires":[]},{"id":"80382534074c26ad","type":"function","z":"896a2122e9516b8c","name":"welcome message","func":"msg.payload=\"Smart Waste Management System for Metropolitan Cities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":20,"wires":[["a946d6e03886c064"]]},{"id":"0cf5522b914efe0d","type":"ui_ui_control","z":"896a2122e9516b8c","name":"","events":"connect","x":1440,"y":260,"wires":[["f0212b21309cc327"]]},{"id":"ddc5a420ad9710a4","type":"ui_form","z":"896a2122e9516b8c","name":"Login Form","label":"","group":"426bc9a6.41db68","order":1,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":130,"y":600,"wires":[["fb2b61e78fd4927c"]]},{"id":"505558b683d89fde","type":"ui_text","z":"896a2122e9516b8c","group":"ed49c469.856168","order":2,"width":16,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1210,"y":120,"wires":[]},{"id":"76eec5615d6bfacd","type":"ui_button","z":"896a2122e9516b8c","name":"","group":"3b55c2c0.f938de","order":1,"width":5,"height":1,"passthru":true,"label":"Login","tooltip":"","color":"brown","bgcolor":"yellow","className":"","icon":"","payload":"{\"group\":{\"show\":\"Home_Login\"}}","payloadType":"json","topic":"","topicType":"str","x":110,"y":120,"wires":[["0cf5522b914efe0d"]]},{"id":"fb2b61e78fd4927c","type":"function","z":"896a2122e9516b8c","name":"global set","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":660,"wires":[["2ae14ca8f2c70288"]]},{"id":"644ef2c87b1fa291","type":"cloudant in","z":"896a2122e9516b8c","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":310,"y":1060,"wires":[["d629a3e41e145272"]]},{"id":"2ae14ca8f2c70288","type":"function","z":"896a2122e9516b8c","name":"data out","func":"var email = global.get(\"email\")\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":900,"wires":[["644ef2c87b1fa291","abbcc6face3eb083","526c62b1bbc5d5e4"]]},{"id":"f8408d04bdec77e1","type":"function","z":"896a2122e9516b8c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in as Admin\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":820,"wires":[["ff34e50724c30bf6","505558b683d89fde"]]},{"id":"ff34e50724c30bf6","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Invalid Email or Password","vt":"str"},{"t":"eq","v":"Logged in as Admin","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":810,"y":820,"wires":[["505558b683d89fde"],["d79af59042b06c5c"]]},{"id":"d79af59042b06c5c","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\"\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"admin\"\n        ],\n        \"hide\": [\n            \"TruckDriver\",\n            \"coadmin\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":820,"wires":[["0cf5522b914efe0d"]]},{"id":"e92d6b66f693a157","type":"function","z":"896a2122e9516b8c","name":"text at start","func":"msg.payload=\"Welcome\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":340,"wires":[["505558b683d89fde"]]},{"id":"9513e84dde49565a","type":"ui_button","z":"896a2122e9516b8c","name":"","group":"47d581f.86ea78","order":1,"width":5,"height":1,"passthru":false,"label":"Logout","tooltip":"","color":"brown","bgcolor":"yellow","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_group1\"],\"show\":[\"Home_group\"]},\"tabs\":{\"hide\":[\"TruckDriver\",\"coadmin\",\"admin\"]}}","payloadType":"json","topic":"","topicType":"str","x":110,"y":260,"wires":[["0cf5522b914efe0d","b0c340c96c3b0440","f0212b21309cc327"]]},{"id":"b0c340c96c3b0440","type":"function","z":"896a2122e9516b8c","name":"","func":"msg.payload=\"Logged out\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["505558b683d89fde"]]},{"id":"f0212b21309cc327","type":"function","z":"896a2122e9516b8c","name":"Initial setup","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_Registration\",\n            \"Home_group1\"\n        ],\n        \"show\": \"Home_group\"\n    },\n    \"tabs\": {\n        \"hide\": [\n            \"TruckDriver\",\n            \"coadmin\",\n            \"admin\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["80382534074c26ad","0cf5522b914efe0d","e92d6b66f693a157"]]},{"id":"526c62b1bbc5d5e4","type":"cloudant in","z":"896a2122e9516b8c","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":320,"y":940,"wires":[["988ebae925e55d99"]]},{"id":"abbcc6face3eb083","type":"cloudant in","z":"896a2122e9516b8c","name":"","cloudant":"","database":"admin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":330,"y":820,"wires":[["f8408d04bdec77e1"]]},{"id":"988ebae925e55d99","type":"function","z":"896a2122e9516b8c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in as Co-Admin\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":940,"wires":[["7cf821de4b1301b8","505558b683d89fde"]]},{"id":"d629a3e41e145272","type":"function","z":"896a2122e9516b8c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in as Truck Driver\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1060,"wires":[["a91ea1c53393a4e1","505558b683d89fde"]]},{"id":"7cf821de4b1301b8","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Invalid Email or Password","vt":"str"},{"t":"eq","v":"Logged in as Co-Admin","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":770,"y":940,"wires":[["505558b683d89fde"],["7a6493e9d58e0e9d"]]},{"id":"7a6493e9d58e0e9d","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\",\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"coadmin\"\n        ],\n        \"hide\": [\n            \"admin\",\n            \"Truck_Driver\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":940,"wires":[["0cf5522b914efe0d"]]},{"id":"a91ea1c53393a4e1","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Invalid Email or Password","vt":"str"},{"t":"eq","v":"Logged in as Truck Driver","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":770,"y":1060,"wires":[["505558b683d89fde"],["7c1a2e4725309d76"]]},{"id":"7c1a2e4725309d76","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\"\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"TruckDriver\"\n        ],\n        \"hide\": [\n            \"admin\",\"coadmin\"\n            \n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1060,"wires":[["0cf5522b914efe0d","b0b8e0e04c847354"]]},{"id":"b0b8e0e04c847354","type":"debug","z":"896a2122e9516b8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":1100,"wires":[]},{"id":"080977c56e499257","type":"ibmiot in","z":"c7781db639249c15","authentication":"apiKey","apiKey":"082dfd3cdf02914d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT 1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":540,"wires":[["152f737098da9511","b3624ff64a82c587","6e5ca5bc1ddd779e","9f99445a64cf1704"]]},{"id":"04f517c4bb70fcb1","type":"worldmap","z":"c7781db639249c15","name":"","lat":"13.16","lon":"80.24","zoom":"11","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1880,"y":660,"wires":[]},{"id":"76380edd92799135","type":"ibmiot in","z":"c7781db639249c15","authentication":"apiKey","apiKey":"082dfd3cdf02914d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT 2","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":800,"wires":[["bfde80d73b183dde","e20bb2bba000a86e","49788bd24b4c1ed1","19b99a385571904d"]]},{"id":"ed8c1e32.c79e28","type":"debug","z":"c7781db639249c15","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":540,"wires":[]},{"id":"b67fdfde.581e3","type":"join","z":"c7781db639249c15","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":660,"wires":[["ed8c1e32.c79e28","04f517c4bb70fcb1"]]},{"id":"479fdca0.35c75c","type":"batch","z":"c7781db639249c15","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":1490,"y":660,"wires":[["b67fdfde.581e3"]]},{"id":"90956eca15020f3c","type":"function","z":"c7781db639249c15","name":"","func":"\ntableData = flow.get(\"savedData\") || [];\ntableData.unshift({\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    check:msg.payload.Check,\n});\nif(tableData.length > 1) tableData.pop();\nmsg.payload = tableData;\nflow.set(\"savedData\",tableData);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1100,"wires":[[]]},{"id":"16ae625bf2fe484a","type":"inject","z":"c7781db639249c15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":1100,"wires":[["6f10d769c11066c2"]]},{"id":"6f10d769c11066c2","type":"change","z":"c7781db639249c15","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1100,"wires":[[]]},{"id":"152f737098da9511","type":"ui_gauge","z":"c7781db639249c15","name":"","group":"79340aa1a83ca384","order":1,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.FillPercent}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":220,"y":640,"wires":[]},{"id":"b3624ff64a82c587","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"Iot\"\nmsg.payload = {\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    icon:msg.payload.Icon,\n    iconColor:msg.payload.Color\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":560,"wires":[["ecc41a4b94af72c0"]]},{"id":"e20bb2bba000a86e","type":"function","z":"c7781db639249c15","name":"set payload and headers","func":"msg.url=\"https://trueway-geocoding.p.rapidapi.com/ReverseGeocode?location=\"+msg.payload.Latitude+\"%2C\"+msg.payload.Longitude+\"&language=en\"\nmsg.headers = {};\nmsg.headers['X-RapidAPI-Key'] = '8364bdeae6msh1bcea4e19edfc0dp153d65jsn49b4af1a2e2c';\nmsg.headers['X-RapidAPI-Host'] = 'trueway-geocoding.p.rapidapi.com';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":980,"wires":[["2136de609a1a78c8"]]},{"id":"2136de609a1a78c8","type":"http request","z":"c7781db639249c15","name":"Location","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":980,"wires":[["7a6cf7ee02ef0b5d"]]},{"id":"041fe717d7358d0e","type":"function","z":"c7781db639249c15","name":"change","func":"msg.payload = {\n    name:msg.payload.Iot.name,\n    Garbagefillpercent:msg.payload.Iot.garbagefillpercent,\n    lat:msg.payload.Iot.lat,\n    lon:msg.payload.Iot.lon,\n    icon:msg.payload.Iot.icon,\n    iconColor:msg.payload.Iot.iconColor,\n    address:msg.payload.add.address,\n    sublocality:msg.payload.add.sublocality,\n    locality:msg.payload.add.locality,\n    area:msg.payload.add.area,\n    postalcode:msg.payload.add.postalcode,\n    region:msg.payload.add.region\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":800,"wires":[["479fdca0.35c75c","649ad2bb23c60e94"]]},{"id":"90a9466055662040","type":"join","z":"c7781db639249c15","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":800,"wires":[["041fe717d7358d0e"]]},{"id":"7a6cf7ee02ef0b5d","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"add\"\nmsg.payload={\n    address:msg.payload.results[0].address,\n    sublocality:msg.payload.results[0].sublocality,\n    locality:msg.payload.results[0].locality,\n    area:msg.payload.results[0].area,\n    postalcode:msg.payload.results[0].postal_code,\n    region:msg.payload.results[0].region\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":980,"wires":[["d066c68e84023aa9"]]},{"id":"bfde80d73b183dde","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"Iot\"\nmsg.payload = {\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    icon:msg.payload.Icon,\n    iconColor:msg.payload.Color\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":800,"wires":[["d066c68e84023aa9"]]},{"id":"d066c68e84023aa9","type":"batch","z":"c7781db639249c15","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":730,"y":800,"wires":[["90a9466055662040"]]},{"id":"6e5ca5bc1ddd779e","type":"function","z":"c7781db639249c15","name":"","func":"global.set(\"fill1\",msg.payload.FillPercent);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":660,"wires":[[]]},{"id":"49788bd24b4c1ed1","type":"function","z":"c7781db639249c15","name":"","func":"global.set(\"fill2\",msg.payload.FillPercent);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":700,"wires":[[]]},{"id":"19b99a385571904d","type":"ui_gauge","z":"c7781db639249c15","name":"","group":"79340aa1a83ca384","order":2,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 2)","label":"units","format":"{{msg.payload.FillPercent}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":200,"y":720,"wires":[]},{"id":"8785f630e1a89389","type":"function","z":"c7781db639249c15","name":"change","func":"msg.payload = {\n    name:msg.payload.Iot.name,\n    Garbagefillpercent:msg.payload.Iot.garbagefillpercent,\n    lat:msg.payload.Iot.lat,\n    lon:msg.payload.Iot.lon,\n    icon:msg.payload.Iot.icon,\n    iconColor:msg.payload.Iot.iconColor,\n    address:msg.payload.add.address,\n    sublocality:msg.payload.add.sublocality,\n    locality:msg.payload.add.locality,\n    area:msg.payload.add.area,\n    postalcode:msg.payload.add.postalcode,\n    region:msg.payload.add.region\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":520,"wires":[["479fdca0.35c75c","7d705a36b1136d56","353f054e2e674de2"]]},{"id":"f3e688ec9963b23f","type":"join","z":"c7781db639249c15","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":520,"wires":[["8785f630e1a89389"]]},{"id":"ecc41a4b94af72c0","type":"batch","z":"c7781db639249c15","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":690,"y":520,"wires":[["f3e688ec9963b23f"]]},{"id":"9f99445a64cf1704","type":"function","z":"c7781db639249c15","name":"set payload and headers","func":"msg.url=\"https://trueway-geocoding.p.rapidapi.com/ReverseGeocode?location=\"+msg.payload.Latitude+\"%2C\"+msg.payload.Longitude+\"&language=en\"\nmsg.headers = {};\nmsg.headers['X-RapidAPI-Key'] = '8364bdeae6msh1bcea4e19edfc0dp153d65jsn49b4af1a2e2c';\nmsg.headers['X-RapidAPI-Host'] = 'trueway-geocoding.p.rapidapi.com';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":420,"wires":[["3b897ef84fab9ef2"]]},{"id":"3b897ef84fab9ef2","type":"http request","z":"c7781db639249c15","name":"Location","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":420,"wires":[["c38fb26cf2ee30ae"]]},{"id":"c38fb26cf2ee30ae","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"add\"\nmsg.payload={\n    address:msg.payload.results[0].address,\n    sublocality:msg.payload.results[0].sublocality,\n    locality:msg.payload.results[0].locality,\n    area:msg.payload.results[0].area,\n    postalcode:msg.payload.results[0].postal_code,\n    region:msg.payload.results[0].region\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":420,"wires":[["ecc41a4b94af72c0"]]},{"id":"e1144bd0553aad86","type":"switch","z":"c7781db639249c15","name":"","property":"payload.Garbagefillpercent","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":300,"wires":[["8ae9c521feeb486a","5f0c3d9a23eb0c0e"]]},{"id":"d79dde76183de445","type":"cloudant out","z":"c7781db639249c15","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":1730,"y":300,"wires":[]},{"id":"8ae9c521feeb486a","type":"function","z":"c7781db639249c15","name":"data in","func":"var d = new Date();\nvar utc = d.getTime() +(d.getTimezoneOffset()* 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nmsg.payload = {\n    Name:msg.payload.name,\n    Time:new Date().toLocaleString(),\n    time:time,\n    date:date,\n    Locality:msg.payload.locality,\n    Address:msg.payload.address\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":300,"wires":[["d79dde76183de445","5a4928940d8629dc"]]},{"id":"61ee1872bef92a98","type":"e-mail","z":"c7781db639249c15","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arunk2k1@gmail.com","dname":"","x":1680,"y":420,"wires":[]},{"id":"5a4928940d8629dc","type":"function","z":"c7781db639249c15","name":"","func":"message=\"Bin \"+msg.payload.Name+\" is full at the location :\"+msg.payload.Address+\" Time: \"+msg.payload.Time\nmsg.topic=\"Bin is FULL\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":420,"wires":[["61ee1872bef92a98"]]},{"id":"7d705a36b1136d56","type":"rbe","z":"c7781db639249c15","name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","septopics":true,"property":"payload.Garbagefillpercent","topi":"topic","x":1130,"y":300,"wires":[["e1144bd0553aad86"]]},{"id":"570dbccd16853f30","type":"switch","z":"c7781db639249c15","name":"","property":"payload.Garbagefillpercent","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":940,"wires":[["2ff4247f51fff617","9bf4f16ed6c0247d"]]},{"id":"9a98c90e1f099b2e","type":"cloudant out","z":"c7781db639249c15","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":1810,"y":940,"wires":[]},{"id":"2ff4247f51fff617","type":"function","z":"c7781db639249c15","name":"data in","func":"var d = new Date();\nvar utc = d.getTime() +(d.getTimezoneOffset()* 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nmsg.payload = {\n    Name:msg.payload.name,\n    Time:new Date().toLocaleString(),\n    time:time,\n    date:date,\n    Locality:msg.payload.locality,\n    Address:msg.payload.address\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":940,"wires":[["9a98c90e1f099b2e","85854b52c17900c6"]]},{"id":"03fedfa0ed07e390","type":"e-mail","z":"c7781db639249c15","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arunk2k1@gmail.com","dname":"","x":1760,"y":1060,"wires":[]},{"id":"85854b52c17900c6","type":"function","z":"c7781db639249c15","name":"","func":"message=\"Bin \"+msg.payload.Name+\" is full at the location :\"+msg.payload.Address+\" Time: \"+msg.payload.Time\nmsg.topic=\"Bin is FULL\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":1060,"wires":[["03fedfa0ed07e390"]]},{"id":"649ad2bb23c60e94","type":"rbe","z":"c7781db639249c15","name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","septopics":true,"property":"payload.Garbagefillpercent","topi":"topic","x":1210,"y":940,"wires":[["570dbccd16853f30"]]},{"id":"5f0c3d9a23eb0c0e","type":"debug","z":"c7781db639249c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":240,"wires":[]},{"id":"9bf4f16ed6c0247d","type":"debug","z":"c7781db639249c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":1120,"wires":[]},{"id":"353f054e2e674de2","type":"debug","z":"c7781db639249c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":520,"wires":[]},{"id":"bfc163596ba14776","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":3,"width":5,"height":1,"passthru":false,"label":"Registration (Co Admin)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_Registration\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1430,"y":60,"wires":[["3dc3afe1d1456018"]]},{"id":"c7c2df06c8f6a701","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":1,"width":3,"height":1,"passthru":false,"label":"DashBoard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\"],\"show\":[\"admin_Control\",\"admin_Map\",\"admin_FillPercent\",\"admin_Table\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1390,"y":120,"wires":[["3dc3afe1d1456018"]]},{"id":"3dc3afe1d1456018","type":"ui_ui_control","z":"2639cc9d05df294e","name":"","events":"all","x":1860,"y":260,"wires":[[]]},{"id":"23772494b35749e7","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":8,"width":31,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"White","bgcolor":"Black","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1370,"y":420,"wires":[["3dc3afe1d1456018"]]},{"id":"1521a5abd9d711db","type":"ui_form","z":"2639cc9d05df294e","name":"Registration Form","label":"For Co Admin","group":"c1a28d6661fd5f77","order":1,"width":8,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phonenumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","phonenumber":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":250,"y":220,"wires":[["1c9d9fe1a73ded4e","70e915dc7317ca77"]]},{"id":"1c9d9fe1a73ded4e","type":"function","z":"2639cc9d05df294e","name":"data in","func":"msg.payload = {\n    _id:msg.payload.email,\n    name:msg.payload.name,\n    phonenumber:msg.payload.phonenumber,\n    email:msg.payload.email,\n    password:msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":120,"wires":[["9d22d9dac437477b"]]},{"id":"70e915dc7317ca77","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Hey! \"+msg.payload.name+\". Registration Successfull.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["c8cda3b8ca02dfa6"]]},{"id":"9d22d9dac437477b","type":"cloudant out","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":720,"y":120,"wires":[]},{"id":"c8cda3b8ca02dfa6","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":750,"y":300,"wires":[]},{"id":"d8081c71674eb1ea","type":"cloudant out","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":false,"operation":"delete","x":1140,"y":480,"wires":[]},{"id":"510fd769cc044193","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":400,"y":600,"wires":[["8c517617969af5c5"]]},{"id":"c0c3e8b2de868224","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = {\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":480,"wires":[["d8081c71674eb1ea"]]},{"id":"7e557486263bb607","type":"inject","z":"2639cc9d05df294e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":920,"wires":[["615875b7069ce8f2"]]},{"id":"615875b7069ce8f2","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":400,"y":920,"wires":[["314b1b3e70c71356"]]},{"id":"163520feff4946f4","type":"ui_table","z":"2639cc9d05df294e","group":"31c22dfd8b0d989e","name":"","order":1,"width":12,"height":3,"columns":[{"field":"name","title":"Name","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phonenumber","title":"Phone Number","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":810,"y":920,"wires":[]},{"id":"314b1b3e70c71356","type":"function","z":"2639cc9d05df294e","name":"data in","func":"var arr=[]\nfor (var i = 0; i < msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        name: msg.payload[i].name,\n        phonenumber: msg.payload[i].phonenumber,\n        email: msg.payload[i].email\n        \n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":920,"wires":[["163520feff4946f4"]]},{"id":"80ca1d593f9ed2ab","type":"inject","z":"2639cc9d05df294e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"111719106030@smartinternz.com\"}","payloadType":"json","x":1630,"y":700,"wires":[[]]},{"id":"630f2dd552f28d2a","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":4,"width":6,"height":1,"passthru":false,"label":"Remove Account (Co Admin)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_Delete\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1440,"y":300,"wires":[["3dc3afe1d1456018"]]},{"id":"d84c68e57c2f2174","type":"ui_form","z":"2639cc9d05df294e","name":"Account Deletion","label":"Enter the email id to be removed","group":"874df5d52570d74a","order":1,"width":10,"height":1,"options":[{"label":"Email","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":210,"y":600,"wires":[["510fd769cc044193"]]},{"id":"6c2ca3e3c31cd268","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":5,"width":5,"height":1,"passthru":false,"label":"Accounts (Co Admin)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_TruckDelete\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_Accounts\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1420,"y":360,"wires":[["3dc3afe1d1456018"]]},{"id":"8c517617969af5c5","type":"function","z":"2639cc9d05df294e","name":"cheching the element","func":"if(msg.payload!=null){\n    msg.topic = \"Found\"\n}\nelse{\n    msg.topic = \"Invalid Email\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":600,"wires":[["87a07e5638df7613"]]},{"id":"87a07e5638df7613","type":"switch","z":"2639cc9d05df294e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Found","vt":"str"},{"t":"eq","v":"Invalid Email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":600,"wires":[["c0c3e8b2de868224","91c443f558fc7630"],["f64a5249f3721757"]]},{"id":"13f89fdc3b6b7fe9","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1190,"y":560,"wires":[]},{"id":"91c443f558fc7630","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Successfully Removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":560,"wires":[["13f89fdc3b6b7fe9"]]},{"id":"2fd9c07d0bcc54de","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1130,"y":680,"wires":[]},{"id":"f64a5249f3721757","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Enter a valid Email Id to be removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":680,"wires":[["2fd9c07d0bcc54de"]]},{"id":"f9f430e50439e6f2","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":2,"width":5,"height":1,"passthru":false,"label":"Accounts (Truck Driver)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckDelete\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_TruckAccount\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1430,"y":180,"wires":[["3dc3afe1d1456018"]]},{"id":"9cb5105c034f8fed","type":"ui_button","z":"2639cc9d05df294e","name":"","group":"2c0dde72c0d5b893","order":6,"width":6,"height":1,"passthru":false,"label":"Remove Account(Truck Driver )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"admin_Registration\",\"admin_Map\",\"admin_Delete\",\"admin_Accounts\",\"admin_TruckAccount\",\"admin_FillPercent\",\"admin_Table\"],\"show\":[\"admin_Control\",\"admin_TruckDelete\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1450,"y":240,"wires":[["3dc3afe1d1456018"]]},{"id":"117ce43d6fb4050d","type":"cloudant out","z":"2639cc9d05df294e","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":false,"operation":"delete","x":1250,"y":1240,"wires":[]},{"id":"8e6da647391f5ade","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":430,"y":1300,"wires":[["b28e41f6bad2196e"]]},{"id":"45ca2546f9bf2143","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = {\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1240,"wires":[["117ce43d6fb4050d"]]},{"id":"41f542b7e02b0b27","type":"inject","z":"2639cc9d05df294e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":250,"y":1680,"wires":[["e50d6e21093628b6"]]},{"id":"e50d6e21093628b6","type":"cloudant in","z":"2639cc9d05df294e","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":470,"y":1680,"wires":[["5a096a66c34f1551"]]},{"id":"f354d304e9f4c435","type":"ui_table","z":"2639cc9d05df294e","group":"7c94896484443721","name":"","order":1,"width":15,"height":3,"columns":[{"field":"name","title":"Name","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phonenumber","title":"Phone Number","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"Location","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":1680,"wires":[]},{"id":"5a096a66c34f1551","type":"function","z":"2639cc9d05df294e","name":"data in","func":"var arr=[]\nfor (var i = 0; i < msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        name: msg.payload[i].name,\n        phonenumber: msg.payload[i].phonenumber,\n        email: msg.payload[i].email,\n        location:msg.payload[i].loc\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1680,"wires":[["f354d304e9f4c435"]]},{"id":"601c3c96dcbefe7e","type":"ui_form","z":"2639cc9d05df294e","name":"Account Deletion","label":"Enter the email id to be removed","group":"e83fb1a8534b4dcc","order":1,"width":9,"height":1,"options":[{"label":"Email","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":230,"y":1300,"wires":[["8e6da647391f5ade"]]},{"id":"b28e41f6bad2196e","type":"function","z":"2639cc9d05df294e","name":"cheching the element","func":"if(msg.payload!=null){\n    msg.topic = \"found\"\n}\nelse{\n    msg.topic = \"Invalid Email\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1300,"wires":[["3bfa0a3eae497f0c"]]},{"id":"3bfa0a3eae497f0c","type":"switch","z":"2639cc9d05df294e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"found","vt":"str"},{"t":"eq","v":"Invalid Email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1300,"wires":[["45ca2546f9bf2143","404cab6d7587c163"],["ebf4c2c235d50f53"]]},{"id":"314fd16bf34c9f90","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1250,"y":1180,"wires":[]},{"id":"404cab6d7587c163","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Successfully Removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1180,"wires":[["314fd16bf34c9f90"]]},{"id":"376a995b1616c724","type":"ui_toast","z":"2639cc9d05df294e","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1230,"y":1360,"wires":[]},{"id":"ebf4c2c235d50f53","type":"function","z":"2639cc9d05df294e","name":"","func":"msg.payload = \"Enter a valid Email Id to be removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1360,"wires":[["376a995b1616c724"]]},{"id":"3a33a869f39470e0","type":"ui_worldmap","z":"2639cc9d05df294e","group":"bc9d6db86cfb566b","order":1,"width":20,"height":20,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1660,"y":540,"wires":[]},{"id":"b3b22dd6df0c1859","type":"ui_form","z":"939206b0015175e2","name":"Registration Form","label":"FOR TRUCK DRIVERS","group":"2a8d09e379ee8509","order":1,"width":8,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phonenumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"Location","value":"loc","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","phonenumber":"","password":"","loc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":190,"y":180,"wires":[["c501dae15027a65b","247c5bf2ae7f05d1"]]},{"id":"ff2ce71795b4e83b","type":"cloudant out","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"insert","x":650,"y":100,"wires":[]},{"id":"c501dae15027a65b","type":"function","z":"939206b0015175e2","name":"data in","func":"msg.payload = {\n    _id:msg.payload.email,\n    name:msg.payload.name,\n    phonenumber:msg.payload.phonenumber,\n    email:msg.payload.email,\n    password:msg.payload.password,\n    loc:msg.payload.loc\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":100,"wires":[["ff2ce71795b4e83b"]]},{"id":"f6901127ca031f55","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":1,"width":5,"height":1,"passthru":false,"label":"Registration ( TruckDriver )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Map\",\"coadmin_Delete\",\"coadmin_Accounts\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\",\"coadmin_Registration\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1440,"y":60,"wires":[["0a009938bb7d78de"]]},{"id":"47e45eb3eb603cc1","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":2,"width":3,"height":1,"passthru":false,"label":"DashBoard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Delete\",\"coadmin_Accounts\"],\"show\":[\"coadmin_Control\",\"coadmin_Map\",\"coadmin_FillPercent\",\"coadmin_Table\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1470,"y":120,"wires":[["0a009938bb7d78de"]]},{"id":"0a009938bb7d78de","type":"ui_ui_control","z":"939206b0015175e2","name":"","events":"all","x":1760,"y":140,"wires":[[]]},{"id":"a685dc12a81e33cd","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":5,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"White","bgcolor":"Black","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Map\",\"coadmin_Delete\",\"coadmin_Accounts\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1490,"y":180,"wires":[["0a009938bb7d78de"]]},{"id":"c27356d307afa50a","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":4,"width":6,"height":1,"passthru":false,"label":"Accounts (Truck Driver)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Map\",\"coadmin_Delete\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\",\"coadmin_Accounts\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1510,"y":240,"wires":[["0a009938bb7d78de"]]},{"id":"89d81eab9749119e","type":"cloudant out","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":false,"operation":"delete","x":1170,"y":600,"wires":[]},{"id":"1fd0d9b7936c2d77","type":"cloudant in","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":350,"y":660,"wires":[["f878097efe24e4e6"]]},{"id":"912e3a847d326858","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = {\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":600,"wires":[["89d81eab9749119e"]]},{"id":"540939e48fb18811","type":"inject","z":"939206b0015175e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":1040,"wires":[["5522bc173910f297"]]},{"id":"5522bc173910f297","type":"cloudant in","z":"939206b0015175e2","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":390,"y":1040,"wires":[["85bf117de390ec48"]]},{"id":"4c3c5a252ee86f3a","type":"ui_table","z":"939206b0015175e2","group":"645b81f3e9362a44","name":"","order":1,"width":15,"height":3,"columns":[{"field":"name","title":"Name","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phonenumber","title":"Phone Number","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"Location","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":870,"y":1040,"wires":[]},{"id":"85bf117de390ec48","type":"function","z":"939206b0015175e2","name":"data in","func":"var arr=[]\nfor (var i = 0; i < msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        name: msg.payload[i].name,\n        phonenumber: msg.payload[i].phonenumber,\n        email: msg.payload[i].email,\n        location:msg.payload[i].loc\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1040,"wires":[["4c3c5a252ee86f3a"]]},{"id":"c1527474e8d62775","type":"ui_form","z":"939206b0015175e2","name":"Account Deletion","label":"Enter the email id to be removed","group":"9bf367ba37efd4bb","order":1,"width":10,"height":1,"options":[{"label":"Email","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":660,"wires":[["1fd0d9b7936c2d77"]]},{"id":"f878097efe24e4e6","type":"function","z":"939206b0015175e2","name":"cheching the element","func":"if(msg.payload!=null){\n    msg.topic = \"found\"\n}\nelse{\n    msg.topic = \"Invalid Email\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["2be345ad93c6645e"]]},{"id":"2be345ad93c6645e","type":"switch","z":"939206b0015175e2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"found","vt":"str"},{"t":"eq","v":"Invalid Email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":660,"wires":[["912e3a847d326858","a07311248f6a42e0"],["05fcc8d4b01ef4e7"]]},{"id":"959fdfe0e52d66d9","type":"ui_toast","z":"939206b0015175e2","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1170,"y":540,"wires":[]},{"id":"a07311248f6a42e0","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = \"Successfully Removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":540,"wires":[["959fdfe0e52d66d9"]]},{"id":"8ee7713716e51da3","type":"ui_toast","z":"939206b0015175e2","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":650,"y":240,"wires":[]},{"id":"247c5bf2ae7f05d1","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = \"Hey! \"+msg.payload.name+\". Registration Successfull.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["8ee7713716e51da3"]]},{"id":"2d1b357c7b6d7aa5","type":"ui_toast","z":"939206b0015175e2","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1150,"y":720,"wires":[]},{"id":"05fcc8d4b01ef4e7","type":"function","z":"939206b0015175e2","name":"","func":"msg.payload = \"Enter a valid Email Id to be removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":720,"wires":[["2d1b357c7b6d7aa5"]]},{"id":"f8388da54739c0a6","type":"ui_button","z":"939206b0015175e2","name":"","group":"34dd6024c139314a","order":3,"width":6,"height":1,"passthru":false,"label":"Remove Account(Truck Driver )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"coadmin_Registration\",\"coadmin_Map\",\"coadmin_Accounts\",\"coadmin_FillPercent\",\"coadmin_Table\"],\"show\":[\"coadmin_Control\",\"coadmin_Delete\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1470,"y":320,"wires":[["0a009938bb7d78de"]]},{"id":"51e6da63ad8ce97d","type":"ui_worldmap","z":"939206b0015175e2","group":"a0eabdb6ebaa9c19","order":1,"width":20,"height":20,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1680,"y":680,"wires":[]},{"id":"32da4668ee781c48","type":"inject","z":"939206b0015175e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["d7f78911cf40faed"]]},{"id":"d7f78911cf40faed","type":"function","z":"939206b0015175e2","name":"","func":"var p1 = global.get(\"fill1\")\nmsg.payload = {\n    \"point1\":p1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["bb85b3c55c1d15b1"]]},{"id":"bb85b3c55c1d15b1","type":"ui_gauge","z":"939206b0015175e2","name":"","group":"153bdb65e81960fa","order":1,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.point1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":380,"wires":[]},{"id":"46d295e62491c727","type":"inject","z":"939206b0015175e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["1e4c1c9145b6764a"]]},{"id":"1e4c1c9145b6764a","type":"function","z":"939206b0015175e2","name":"","func":"var p1 = global.get(\"fill2\")\nmsg.payload = {\n    \"point2\":p1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["a3344aa440151157"]]},{"id":"a3344aa440151157","type":"ui_gauge","z":"939206b0015175e2","name":"","group":"153bdb65e81960fa","order":2,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 2)","label":"units","format":"{{msg.payload.point2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":540,"y":500,"wires":[]},{"id":"1c274b17201b3205","type":"ui_button","z":"5d8efcbabc077850","name":"","group":"884658218c75443e","order":1,"width":3,"height":1,"passthru":false,"label":"DashBoard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[],\"show\":[\"TruckDriver_Control\",\"TruckDriver_Map\",\"TruckDriver_FillPercent\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":430,"y":240,"wires":[["6bcec3d5164337c7"]]},{"id":"6bcec3d5164337c7","type":"ui_ui_control","z":"5d8efcbabc077850","name":"","events":"all","x":620,"y":280,"wires":[[]]},{"id":"dc408bea77a74c6e","type":"ui_button","z":"5d8efcbabc077850","name":"","group":"884658218c75443e","order":2,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"White","bgcolor":"Black","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"TruckDriver_Map\",\"TruckDriver_FillPercent\"],\"show\":[\"TruckDriver_Control\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":450,"y":360,"wires":[["6bcec3d5164337c7"]]},{"id":"4807960e15618f73","type":"ui_worldmap","z":"5d8efcbabc077850","group":"3aa3fb460a5d60ba","order":1,"width":20,"height":"20","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1340,"y":280,"wires":[]},{"id":"4a5ff3a2764309db","type":"inject","z":"5d8efcbabc077850","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":520,"wires":[["85875e53b38bb8ac"]]},{"id":"85875e53b38bb8ac","type":"function","z":"5d8efcbabc077850","name":"","func":"var email = global.get(\"fill1\")\nmsg.payload = {\n    \"point1\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":520,"wires":[["13d7dcda1031f820"]]},{"id":"13d7dcda1031f820","type":"ui_gauge","z":"5d8efcbabc077850","name":"","group":"31bc887e057dd19e","order":1,"width":"6","height":"6","gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.point1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":720,"y":520,"wires":[]},{"id":"bc4b2bf2c2b0fab9","type":"inject","z":"5d8efcbabc077850","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":760,"wires":[["997215e0c39e35a9"]]},{"id":"997215e0c39e35a9","type":"function","z":"5d8efcbabc077850","name":"","func":"var email = global.get(\"fill2\")\nmsg.payload = {\n    \"point2\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":760,"wires":[["5fc6700c7d4ed973"]]},{"id":"5fc6700c7d4ed973","type":"ui_gauge","z":"5d8efcbabc077850","name":"","group":"31bc887e057dd19e","order":1,"width":"6","height":"6","gtype":"donut","title":"FIll Percent (Point 2)","label":"units","format":"{{msg.payload.point2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":720,"y":760,"wires":[]},{"id":"cad025a0e372283e","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":100,"wires":[["1d6e65083494290e"]]},{"id":"1d6e65083494290e","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":100,"wires":[["86f5cfdb2448a2f4"]]},{"id":"33638cf1958e6582","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":360,"wires":[["9e616f1467374804"]]},{"id":"9e616f1467374804","type":"ui_table","z":"2e1d71bd03cf9513","group":"f530cf550d1ddd47","name":"Point1","order":1,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":630,"y":360,"wires":[]},{"id":"342024a2e65aea14","type":"function","z":"2e1d71bd03cf9513","name":"","func":"msg.payload = {\n        \"_id\":msg.payload[0]._id,\n        \"_rev\":msg.payload[0]._rev\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":100,"wires":[["37ef5d9b5c767fc4"]]},{"id":"37ef5d9b5c767fc4","type":"cloudant out","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"delete","x":1030,"y":100,"wires":[]},{"id":"86f5cfdb2448a2f4","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nfor (var i=0; i <msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        _id:msg.payload[i]._id,\n        _rev:msg.payload[i]._rev\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[["764d650e237ccab6"]]},{"id":"764d650e237ccab6","type":"switch","z":"2e1d71bd03cf9513","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":100,"wires":[["342024a2e65aea14"]]},{"id":"7da4404785f612b4","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":360,"wires":[["fa5930f5273b223a"]]},{"id":"fa5930f5273b223a","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":360,"wires":[["33638cf1958e6582"]]},{"id":"8436a731383b238c","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":440,"wires":[["66741627fa7882f0"]]},{"id":"7c3bcd2ab43a28f5","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":440,"wires":[["e9e58aed4e4fc253"]]},{"id":"e9e58aed4e4fc253","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":440,"wires":[["8436a731383b238c"]]},{"id":"66741627fa7882f0","type":"ui_table","z":"2e1d71bd03cf9513","group":"f530cf550d1ddd47","name":"Point2","order":2,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":650,"y":440,"wires":[]},{"id":"43bbba41fd6d5be2","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":340,"wires":[["12500964c4f3fbde"]]},{"id":"12500964c4f3fbde","type":"ui_table","z":"2e1d71bd03cf9513","group":"898bd0554aacc451","name":"","order":1,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1410,"y":340,"wires":[]},{"id":"527f7d7d1ab1d129","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":950,"y":340,"wires":[["9382b43ea1ebe664"]]},{"id":"9382b43ea1ebe664","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":1130,"y":340,"wires":[["43bbba41fd6d5be2"]]},{"id":"51261da8aa0f8159","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":460,"wires":[["496fad7eaeaf01ae"]]},{"id":"c5ccae6f5f30e5be","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":950,"y":460,"wires":[["eba60ea0ea274c88"]]},{"id":"eba60ea0ea274c88","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":1130,"y":460,"wires":[["51261da8aa0f8159"]]},{"id":"496fad7eaeaf01ae","type":"ui_table","z":"2e1d71bd03cf9513","group":"898bd0554aacc451","name":"","order":2,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1430,"y":460,"wires":[]},{"id":"ce938f81f3ca7bc6","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":180,"wires":[["78a0e2464f1e61fb"]]},{"id":"78a0e2464f1e61fb","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":180,"wires":[["7757445bf1d420e1"]]},{"id":"a9afd988600c1dbf","type":"function","z":"2e1d71bd03cf9513","name":"","func":"msg.payload = {\n        \"_id\":msg.payload[0]._id,\n        \"_rev\":msg.payload[0]._rev\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["d32101626b0054e1"]]},{"id":"d32101626b0054e1","type":"cloudant out","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"delete","x":1030,"y":180,"wires":[]},{"id":"7757445bf1d420e1","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nfor (var i=0; i <msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        _id:msg.payload[i]._id,\n        _rev:msg.payload[i]._rev\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":180,"wires":[["64a4002ddc2be9cd"]]},{"id":"64a4002ddc2be9cd","type":"switch","z":"2e1d71bd03cf9513","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":180,"wires":[["a9afd988600c1dbf"]]},{"id":"85965edc.72971","type":"ui_template","z":"2e1d71bd03cf9513","group":"2a745e6b.07df92","name":"Dashboard Theme : Modern Dark","order":2,"width":0,"height":0,"format":"<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1060,"y":620,"wires":[[]],"icon":"node-red-dashboard/ui_colour_picker.png","info":"# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"}]