Final Deliverables/HOME PAGE - PNT2022TMID05381.json
[{"id":"896a2122e9516b8c","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"a946d6e03886c064","type":"ui_text","z":"896a2122e9516b8c","group":"ed49c469.856168","order":1,"width":16,"height":4,"name":"","label":"IBM Nalaiya Thiran","format":"<H1><font color =amber>{{msg.payload}}</font></H1>","layout":"col-center","className":"","x":1010,"y":40,"wires":[]},{"id":"80382534074c26ad","type":"function","z":"896a2122e9516b8c","name":"welcome message","func":"msg.payload=\"Smart Waste Management System for Metropolitan Cities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":20,"wires":[["a946d6e03886c064"]]},{"id":"0cf5522b914efe0d","type":"ui_ui_control","z":"896a2122e9516b8c","name":"","events":"connect","x":1440,"y":260,"wires":[["f0212b21309cc327"]]},{"id":"ddc5a420ad9710a4","type":"ui_form","z":"896a2122e9516b8c","name":"Login Form","label":"","group":"426bc9a6.41db68","order":1,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":130,"y":600,"wires":[["fb2b61e78fd4927c"]]},{"id":"505558b683d89fde","type":"ui_text","z":"896a2122e9516b8c","group":"ed49c469.856168","order":2,"width":16,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1210,"y":120,"wires":[]},{"id":"76eec5615d6bfacd","type":"ui_button","z":"896a2122e9516b8c","name":"","group":"3b55c2c0.f938de","order":1,"width":5,"height":1,"passthru":true,"label":"Login","tooltip":"","color":"brown","bgcolor":"yellow","className":"","icon":"","payload":"{\"group\":{\"show\":\"Home_Login\"}}","payloadType":"json","topic":"","topicType":"str","x":110,"y":120,"wires":[["0cf5522b914efe0d"]]},{"id":"fb2b61e78fd4927c","type":"function","z":"896a2122e9516b8c","name":"global set","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":660,"wires":[["2ae14ca8f2c70288"]]},{"id":"644ef2c87b1fa291","type":"cloudant in","z":"896a2122e9516b8c","name":"","cloudant":"","database":"truckdriver","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":310,"y":1060,"wires":[["d629a3e41e145272"]]},{"id":"2ae14ca8f2c70288","type":"function","z":"896a2122e9516b8c","name":"data out","func":"var email = global.get(\"email\")\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":900,"wires":[["644ef2c87b1fa291","abbcc6face3eb083","526c62b1bbc5d5e4"]]},{"id":"f8408d04bdec77e1","type":"function","z":"896a2122e9516b8c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in as Admin\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":820,"wires":[["ff34e50724c30bf6","505558b683d89fde"]]},{"id":"ff34e50724c30bf6","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Invalid Email or Password","vt":"str"},{"t":"eq","v":"Logged in as Admin","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":810,"y":820,"wires":[["505558b683d89fde"],["d79af59042b06c5c"]]},{"id":"d79af59042b06c5c","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\"\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"admin\"\n        ],\n        \"hide\": [\n            \"TruckDriver\",\n            \"coadmin\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":820,"wires":[["0cf5522b914efe0d"]]},{"id":"e92d6b66f693a157","type":"function","z":"896a2122e9516b8c","name":"text at start","func":"msg.payload=\"Welcome\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":340,"wires":[["505558b683d89fde"]]},{"id":"9513e84dde49565a","type":"ui_button","z":"896a2122e9516b8c","name":"","group":"47d581f.86ea78","order":1,"width":5,"height":1,"passthru":false,"label":"Logout","tooltip":"","color":"brown","bgcolor":"yellow","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_group1\"],\"show\":[\"Home_group\"]},\"tabs\":{\"hide\":[\"TruckDriver\",\"coadmin\",\"admin\"]}}","payloadType":"json","topic":"","topicType":"str","x":110,"y":260,"wires":[["0cf5522b914efe0d","b0c340c96c3b0440","f0212b21309cc327"]]},{"id":"b0c340c96c3b0440","type":"function","z":"896a2122e9516b8c","name":"","func":"msg.payload=\"Logged out\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["505558b683d89fde"]]},{"id":"f0212b21309cc327","type":"function","z":"896a2122e9516b8c","name":"Initial setup","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_Registration\",\n            \"Home_group1\"\n        ],\n        \"show\": \"Home_group\"\n    },\n    \"tabs\": {\n        \"hide\": [\n            \"TruckDriver\",\n            \"coadmin\",\n            \"admin\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["80382534074c26ad","0cf5522b914efe0d","e92d6b66f693a157"]]},{"id":"526c62b1bbc5d5e4","type":"cloudant in","z":"896a2122e9516b8c","name":"","cloudant":"","database":"coadmin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":320,"y":940,"wires":[["988ebae925e55d99"]]},{"id":"abbcc6face3eb083","type":"cloudant in","z":"896a2122e9516b8c","name":"","cloudant":"","database":"admin","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_id_","design":"","index":"","x":330,"y":820,"wires":[["f8408d04bdec77e1"]]},{"id":"988ebae925e55d99","type":"function","z":"896a2122e9516b8c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in as Co-Admin\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":940,"wires":[["7cf821de4b1301b8","505558b683d89fde"]]},{"id":"d629a3e41e145272","type":"function","z":"896a2122e9516b8c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in as Truck Driver\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1060,"wires":[["a91ea1c53393a4e1","505558b683d89fde"]]},{"id":"7cf821de4b1301b8","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Invalid Email or Password","vt":"str"},{"t":"eq","v":"Logged in as Co-Admin","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":770,"y":940,"wires":[["505558b683d89fde"],["7a6493e9d58e0e9d"]]},{"id":"7a6493e9d58e0e9d","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\",\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"coadmin\"\n        ],\n        \"hide\": [\n            \"admin\",\n            \"Truck_Driver\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":940,"wires":[["0cf5522b914efe0d"]]},{"id":"a91ea1c53393a4e1","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Invalid Email or Password","vt":"str"},{"t":"eq","v":"Logged in as Truck Driver","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":770,"y":1060,"wires":[["505558b683d89fde"],["7c1a2e4725309d76"]]},{"id":"7c1a2e4725309d76","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\"\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"TruckDriver\"\n        ],\n        \"hide\": [\n            \"admin\",\"coadmin\"\n            \n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1060,"wires":[["0cf5522b914efe0d","b0b8e0e04c847354"]]},{"id":"b0b8e0e04c847354","type":"debug","z":"896a2122e9516b8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":1100,"wires":[]},{"id":"ed49c469.856168","type":"ui_group","name":"Team VVS","tab":"cf40fea6.09165","order":1,"disp":false,"width":16,"collapse":false,"className":""},{"id":"426bc9a6.41db68","type":"ui_group","name":"Login","tab":"cf40fea6.09165","order":4,"disp":true,"width":"6","collapse":false},{"id":"3b55c2c0.f938de","type":"ui_group","name":"group","tab":"cf40fea6.09165","order":2,"disp":false,"width":5,"collapse":false},{"id":"47d581f.86ea78","type":"ui_group","name":"group1","tab":"cf40fea6.09165","order":3,"disp":false,"width":5,"collapse":false},{"id":"cf40fea6.09165","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]