Final Deliverables/TRUCK DRIVER PAGE - PNT2022TMID05381.json
[{"id":"5d8efcbabc077850","type":"tab","label":"TruckDriver Dashboard","disabled":false,"info":"","env":[]},{"id":"1c274b17201b3205","type":"ui_button","z":"5d8efcbabc077850","name":"","group":"884658218c75443e","order":1,"width":3,"height":1,"passthru":false,"label":"DashBoard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[],\"show\":[\"TruckDriver_Control\",\"TruckDriver_Map\",\"TruckDriver_FillPercent\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":430,"y":240,"wires":[["6bcec3d5164337c7"]]},{"id":"6bcec3d5164337c7","type":"ui_ui_control","z":"5d8efcbabc077850","name":"","events":"all","x":620,"y":280,"wires":[[]]},{"id":"dc408bea77a74c6e","type":"ui_button","z":"5d8efcbabc077850","name":"","group":"884658218c75443e","order":2,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"White","bgcolor":"Black","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"TruckDriver_Map\",\"TruckDriver_FillPercent\"],\"show\":[\"TruckDriver_Control\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":450,"y":360,"wires":[["6bcec3d5164337c7"]]},{"id":"4807960e15618f73","type":"ui_worldmap","z":"5d8efcbabc077850","group":"3aa3fb460a5d60ba","order":1,"width":20,"height":"20","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1340,"y":280,"wires":[]},{"id":"4a5ff3a2764309db","type":"inject","z":"5d8efcbabc077850","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":520,"wires":[["85875e53b38bb8ac"]]},{"id":"85875e53b38bb8ac","type":"function","z":"5d8efcbabc077850","name":"","func":"var email = global.get(\"fill1\")\nmsg.payload = {\n    \"point1\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":520,"wires":[["13d7dcda1031f820"]]},{"id":"13d7dcda1031f820","type":"ui_gauge","z":"5d8efcbabc077850","name":"","group":"31bc887e057dd19e","order":1,"width":"6","height":"6","gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.point1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":720,"y":520,"wires":[]},{"id":"bc4b2bf2c2b0fab9","type":"inject","z":"5d8efcbabc077850","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":760,"wires":[["997215e0c39e35a9"]]},{"id":"997215e0c39e35a9","type":"function","z":"5d8efcbabc077850","name":"","func":"var email = global.get(\"fill2\")\nmsg.payload = {\n    \"point2\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":760,"wires":[["5fc6700c7d4ed973"]]},{"id":"5fc6700c7d4ed973","type":"ui_gauge","z":"5d8efcbabc077850","name":"","group":"31bc887e057dd19e","order":1,"width":"6","height":"6","gtype":"donut","title":"FIll Percent (Point 2)","label":"units","format":"{{msg.payload.point2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":720,"y":760,"wires":[]},{"id":"884658218c75443e","type":"ui_group","name":"Control","tab":"af8dd20ce4db8f17","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3aa3fb460a5d60ba","type":"ui_group","name":"Map","tab":"af8dd20ce4db8f17","order":2,"disp":true,"width":20,"collapse":false,"className":""},{"id":"31bc887e057dd19e","type":"ui_group","name":"FillPercent","tab":"af8dd20ce4db8f17","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"af8dd20ce4db8f17","type":"ui_tab","name":"TruckDriver","icon":"dashboard","order":4,"disabled":false,"hidden":false}]