Final Deliverables/UPDATE AND DELETE BIN FLOW - PNT2022TMID05381.json
[{"id":"2e1d71bd03cf9513","type":"tab","label":"Update and delete bin db","disabled":false,"info":"","env":[]},{"id":"cad025a0e372283e","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":100,"wires":[["1d6e65083494290e"]]},{"id":"1d6e65083494290e","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":100,"wires":[["86f5cfdb2448a2f4"]]},{"id":"33638cf1958e6582","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":360,"wires":[["9e616f1467374804"]]},{"id":"9e616f1467374804","type":"ui_table","z":"2e1d71bd03cf9513","group":"f530cf550d1ddd47","name":"Point1","order":1,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":630,"y":360,"wires":[]},{"id":"342024a2e65aea14","type":"function","z":"2e1d71bd03cf9513","name":"","func":"msg.payload = {\n        \"_id\":msg.payload[0]._id,\n        \"_rev\":msg.payload[0]._rev\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":100,"wires":[["37ef5d9b5c767fc4"]]},{"id":"37ef5d9b5c767fc4","type":"cloudant out","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"delete","x":1030,"y":100,"wires":[]},{"id":"86f5cfdb2448a2f4","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nfor (var i=0; i <msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        _id:msg.payload[i]._id,\n        _rev:msg.payload[i]._rev\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[["764d650e237ccab6"]]},{"id":"764d650e237ccab6","type":"switch","z":"2e1d71bd03cf9513","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":100,"wires":[["342024a2e65aea14"]]},{"id":"7da4404785f612b4","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":360,"wires":[["fa5930f5273b223a"]]},{"id":"fa5930f5273b223a","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":360,"wires":[["33638cf1958e6582"]]},{"id":"8436a731383b238c","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":440,"wires":[["66741627fa7882f0"]]},{"id":"7c3bcd2ab43a28f5","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":440,"wires":[["e9e58aed4e4fc253"]]},{"id":"e9e58aed4e4fc253","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":440,"wires":[["8436a731383b238c"]]},{"id":"66741627fa7882f0","type":"ui_table","z":"2e1d71bd03cf9513","group":"f530cf550d1ddd47","name":"Point2","order":2,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":650,"y":440,"wires":[]},{"id":"43bbba41fd6d5be2","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":340,"wires":[["12500964c4f3fbde"]]},{"id":"12500964c4f3fbde","type":"ui_table","z":"2e1d71bd03cf9513","group":"898bd0554aacc451","name":"","order":1,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1410,"y":340,"wires":[]},{"id":"527f7d7d1ab1d129","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":950,"y":340,"wires":[["9382b43ea1ebe664"]]},{"id":"9382b43ea1ebe664","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin1","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":1130,"y":340,"wires":[["43bbba41fd6d5be2"]]},{"id":"51261da8aa0f8159","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nvar len=msg.payload.length-1;\nfor (var i =0; i <= 9; i++) {\n    var newMsg = {};\n    newMsg={\n        Name: msg.payload[len-i].Name,\n        Locality: msg.payload[len-i].Locality,\n        Address:msg.payload[len-i].Address,\n        date:msg.payload[len-i].date,\n        Time:msg.payload[len-i].time,\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":460,"wires":[["496fad7eaeaf01ae"]]},{"id":"c5ccae6f5f30e5be","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":950,"y":460,"wires":[["eba60ea0ea274c88"]]},{"id":"eba60ea0ea274c88","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":1130,"y":460,"wires":[["51261da8aa0f8159"]]},{"id":"496fad7eaeaf01ae","type":"ui_table","z":"2e1d71bd03cf9513","group":"898bd0554aacc451","name":"","order":2,"width":25,"height":6,"columns":[{"field":"Name","title":"Name","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Locality","title":"Locality","width":"180","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1430,"y":460,"wires":[]},{"id":"ce938f81f3ca7bc6","type":"inject","z":"2e1d71bd03cf9513","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":180,"wires":[["78a0e2464f1e61fb"]]},{"id":"78a0e2464f1e61fb","type":"cloudant in","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","search":"_all_","design":"","index":"","x":350,"y":180,"wires":[["7757445bf1d420e1"]]},{"id":"a9afd988600c1dbf","type":"function","z":"2e1d71bd03cf9513","name":"","func":"msg.payload = {\n        \"_id\":msg.payload[0]._id,\n        \"_rev\":msg.payload[0]._rev\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["d32101626b0054e1"]]},{"id":"d32101626b0054e1","type":"cloudant out","z":"2e1d71bd03cf9513","name":"","cloudant":"","database":"bin2","service":"project-nalaiyathira-cloudant-1665410473792-64811","payonly":true,"operation":"delete","x":1030,"y":180,"wires":[]},{"id":"7757445bf1d420e1","type":"function","z":"2e1d71bd03cf9513","name":"data in","func":"var arr=[]\nmsg.payload.sort(function(a, b) {\n    var c = new Date(a.Time);\n    var d = new Date(b.Time);\n    return c-d;\n})\nfor (var i=0; i <msg.payload.length; i++) {\n    var newMsg = {};\n    newMsg={\n        _id:msg.payload[i]._id,\n        _rev:msg.payload[i]._rev\n    }\n    arr.push(newMsg);\n}\nmsg.payload=arr\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":180,"wires":[["64a4002ddc2be9cd"]]},{"id":"64a4002ddc2be9cd","type":"switch","z":"2e1d71bd03cf9513","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":180,"wires":[["a9afd988600c1dbf"]]},{"id":"85965edc.72971","type":"ui_template","z":"2e1d71bd03cf9513","group":"2a745e6b.07df92","name":"Dashboard Theme : Modern Dark","order":2,"width":0,"height":0,"format":"<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1060,"y":620,"wires":[[]],"icon":"node-red-dashboard/ui_colour_picker.png","info":"# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"},{"id":"f530cf550d1ddd47","type":"ui_group","name":"Table","tab":"5c85c2b6e9dda59f","order":9,"disp":true,"width":25,"collapse":false,"className":""},{"id":"898bd0554aacc451","type":"ui_group","name":"Table","tab":"7e3a82242a91412a","order":7,"disp":true,"width":25,"collapse":false,"className":""},{"id":"2a745e6b.07df92","type":"ui_group","name":"Default","tab":"e63bce2d.68925","order":5,"disp":true,"width":"6","collapse":true},{"id":"5c85c2b6e9dda59f","type":"ui_tab","name":"admin","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7e3a82242a91412a","type":"ui_tab","name":"coadmin","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e63bce2d.68925","type":"ui_tab","name":"Denon","icon":"dashboard","order":2,"disabled":false,"hidden":false}]